 /* body {
  text-align: center;
} */

#container {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 600px; 
}

#column {
 display: flex;
 flex: 1;
}

#row {
  flex: 1;
  outline: 1px solid black;
}

.color {
  background-color: rgb(42, 100, 226);
}