 /* body {
  text-align: center;
} */

#container {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 600px;
  outline: 1px solid #333333;

}

.column {
 display: flex;
 flex: 1;
}

.row {
  flex: 1;
  background-color: white;
  outline: 1px solid #333333;
}

.gridOff {
  outline: none !important;
}